<launch>
    <arg name="model" default="turtlebot_metric.urdf.xacro"/>
    <arg name="gui" default="False" />

    <param name="robot_description" command="$(find xacro)/xacro.py $(find turtlebot_metric_description)/urdf/$(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_metric_description)/launch/test.vcg" />
</launch>
